

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{

    cursor: url(imagens/mata_mosca.png) 30 30, auto;
}


body{
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.container{

    width: 100%;
    height: 100%;    
}





.mosca1{
    width: 50px;
    height: 50px;
}

.mosca2{
    width: 70px;
    height: 70px;
}

.mosca3{
    width: 90px;
    height: 90px;
}


.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}



.painel {
   
        position: absolute;
        width: 190px;
        padding: 10px;
        left: 0px;
        bottom: 0px;
        border-top: solid 1px #fff;
        background-color: #fff;
        opacity: 0.7;

}

.vidas {
    float: left;
}

.cronometro {
     float: left;
     font-size: 20px;
     font-weight:bold ;
}

.botaoHome {
    color: white;
    text-decoration: none;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 450px) { 

    .inicio_game img {
        width:350px;
        height: 350px;
    }

    .game_over {

        width:350px;
        height: 350px;
    }

    .vitoria{
        width:350px;
        height: 350px;

    }
    
    .background {

        height:100vh;
   

    }

    .container{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
   



 }

/* Small devices (landscape phones, 576px and up) */ 
@media (min-width: 576px) and (max-width: 767.98px) { 
    .inicio_game img {
        width:350px;
        height: 350px;
    }

    .game_over {

        width:350px;
        height: 350px;
    }

    .vitoria{
        width:350px;
        height: 350px;

    }
    
    .background{
        height: 100vh;
    }

    .container{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }
    
    
   
    
   
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .inicio_game img{
        width:400px;
        height: 400px;
        display: flex;
        
    }

    .background {

        height: 100vh;
    }

    .container{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
   
}
    

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

    .inicio_game img{
        width:600px;
        height: 600px;
        display: flex;
        
    }

    .background {

        height: 100vh;
    }

    .container{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

   

 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }