

html{

    cursor: url(imagens/mata_mosca.png) 30 30, auto;
}


.imagem_fundo{
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}




.mosca1{
    width: 50px;
    height: 50px;
}

.mosca2{
    width: 70px;
    height: 70px;
}

.mosca3{
    width: 90px;
    height: 90px;
}


.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}



.painel {
   
        position: absolute;
        width: 190px;
        padding: 10px;
        left: 0px;
        bottom: 0px;
        border-top: solid 1px #fff;
        background-color: #fff;
        opacity: 0.7;

}

.vidas {
    float: left;
}

.cronometro {
     float: left;
     font-size: 20px;
     font-weight:bold ;
}

.botaoHome {
    color: white;
    text-decoration: none;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 450px) { 

    .inicio_game{
        width:300px;
        height: 300px;
    }
    
    .imagem_fundo{
    height: 100vh;
       
    }
    



 }

/* Small devices (landscape phones, 576px and up) */ 
@media (min-width: 576px) and (max-width: 767.98px) { 
    .inicio_game{
        width:400px;
        height: 400px;
    }
    
    .imagem_fundo{
    height: 100vh;
       
    }

 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .inicio_game{
        width:400px;
        height: 400px;
        display: flex;
        
    }
    
    .imagem_fundo{
    height: 100vh;
       
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }